/* main.css */

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Common style for all circles */
.rainbow {
  width: 1000px;
  height: 1000px;
}

/* Additional styles for each specific circle with an ID */
#red    { 
  border-top-color: #f00; 
  background: radial-gradient(circle at 50% 120%, #ff0000, transparent 85%);
}

#orange { 
  border-top-color: #ffa500; 
  background: radial-gradient(circle at 50% 120%, #ffa500, transparent 85%);
}

#yellow { 
  border-top-color: #ff0; 
  background: radial-gradient(circle at 50% 120%, #ff0, transparent 85%);
}

#green  { 
  border-top-color: #00bc3f; 
  background: radial-gradient(circle at 50% 120%, #00bc3f, transparent 85%);
}

#blue   { 
  border-top-color: #06f; 
  background: radial-gradient(circle at 50% 120%, #06f, transparent 85%);
}

#indigo { 
  border-top-color: #8a2be2; 
  background: radial-gradient(circle at 50% 120%, #8a2be2, transparent 85%);
}

#violet { 
  border-top-color: #d300c9; 
  background: radial-gradient(circle at 50% 120%, #d300c9, transparent 85%);
}